*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* global.css or a module imported in NoteList */
.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  /* gutter size */
  background-clip: padding-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* optional spacing between cards inside column */
.my-masonry-grid_column>div {
  margin-bottom: 16px;

}
